legacy-peer-deps=true
save-exact=false
fund=false
audit-level=moderate
engine-strict=false
prefer-offline=false
progress=true
registry=https://registry.npmjs.org/
fetch-retries=3
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=60000
