legacy-peer-deps=true
fund=false
audit-level=none
engine-strict=false
prefer-offline=true
progress=false
registry=https://registry.npmjs.org/
fetch-retries=1
fetch-retry-mintimeout=3000
fetch-retry-maxtimeout=15000
timeout=300000
force=true
