legacy-peer-deps=true
fund=false
audit-level=none
engine-strict=false
prefer-offline=true
progress=false
registry=https://registry.npmjs.org/
fetch-retries=2
fetch-retry-mintimeout=5000
fetch-retry-maxtimeout=30000
